h1 {
  margin-bottom: 50px;
}

#page_content .smallForm {
  width: 350px;
  margin: 50px auto 50px auto;
}

#page_content form .formField {
  float: right;
}

#page_content .large {
  margin: 0px auto 50px auto;
}

#page_content .center {
  display: flex;
  width: 100%;
  justify-content: center;
}