<!-- Extends the projects 'base.html' file-->
{% extends "base.html" %}
<!-- import for forms-->
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
  {{ super() }}
  <!-- css styling sheet reference -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}"/>
  <!-- Import JS functionality for table sorting -->
  <script src="{{ url_for('static', filename='js/tables.js') }}" defer="defer"></script>
{% endblock %}
{% block page_content %}

  <!-- Container above the database table -->
  <div class="container">
    <!-- Heading -->
    <h1>Receiver</h1>
    <!-- Link to add a new Entry -->
    <a href="/receiver/addNew">Add New Receiver</a>
    <!-- Filter Form -->
    <form method="post" id="filterForm" name="filterForm" action="/receiver" class="">
      <input type="radio" id="datetime" name="timeFormat" value="Datetime" checked="checked" onclick="datetimeChecked()"/>
      <label for="datetime">Datetime &nbsp;</label>
      <input type="radio" id="gpstime" name="timeFormat" value="gpstime" onclick="gpstimeChecked()"/>
      <label for="datetime">GPS Time</label>
      <br/>
      <input type="datetime-local" id="time" name="time" value="{{time}}"/>
      <input type="hidden" id="time_float" name="time_float" value="{{time_float}}"/>
      <br/>
      <br/>
      <input class="btn btn-primary" onclick="btnFilterClick();" type="button" id="submitBtn" name="submitBtn" value="Filter" autocomplete="off"/>
    </form>
  </div>

  <!-- Database Table -->
  <div class="container databaseTable">
    <div class="table-responsive">
      <table id="databaseTable" class="table table-bordered">
        <thead>
          <tr>
            <!-- The table headers-->
            <th scope="col"></th>
            <th scope="col" class="sortable" onclick="sortTableNum(1)">
              receiver_id
            </th>
            <th scope="col">sbc_name</th>
            <th scope="col" class="sortable" onclick="sortTableNum(3)">
              fibre_length
            </th>
            <th scope="col">active</th>
            <th scope="col">slot, cable, beamformer, tile, begintime</th>
          </tr>
        </thead>
        <tbody>
          {% for receiver in receivers %} <!-- Loops through each entry in the receiver table passed from 'app/views.py'-->
            <tr>
              {% if receiver.endtime == 9e99 %} <!-- Shows an 'edit' link for a receiver if endtime hasn't been set-->
                <td scope="row">
                  <a href="{{url_for('updateReceiver', receiver_id=receiver.receiver_id, begintime=receiver.begintime)}}">Edit</a>
                </td>
              {% else %} <!-- Default: doesn't allow editing of a receiver-->
                <td scope="row"></td>
              {% endif %}
              <!-- The table content - names set in 'app/models.py'-->
              <td>{{ receiver.receiver_id }}</td>
              <td>{{ receiver.sbc_name }}</td>
              <td>{{ receiver.fibre_length }}</td>
              <td>{{ receiver.active }}</td>
              <td>
                <table class="connectionsTable">
                  {% for connection in connections %} <!-- Loops through each entry in the connections table passed from 'app/views.py'-->
                    {% if connection.receiver_id == receiver.receiver_id %} <!-- ensures that connections are equal-->
                      <tr>
                        <!-- subtable content - names set in 'app/models.py'-->
                        <td>{{ connection.receiver_slot }}</td>
                        <td>{{ connection.cable_name }}</td>
                        <td>{{ connection.beamformer_id }}</td>
                        <td>{{ connection.tile }}</td>
                        <td class="begintime">{{ connection.begintime }}</td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                </table>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- Shows the current offset time (gps to unix) -->
    <p>
      Current Offset Value (GPS to Unix) =
      <span id="offset">{{ offset }}</span>
    </p>
  </div>
{% endblock %}
